<nav class="navbar">
  <ul class="nav-list">
    <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Acerca de</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Registro</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Perfil</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Usuarios</a></li>
  </ul>
</nav>